@page "/"
@using Models
@using Clients

<PageTitle>To Do List</PageTitle>

@if(taskSummary is null){
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered table-hover table-secondary mt-3" >
        <thead class="table-dark">
            <th>Task</th>
            <th>Description</th>
            <th>Important Level</th>
            <th>Time Required</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var task in taskSummary){
                <tr>
                    <td>@task.TaskName</td>
                    <td>@task.Description</td>
                    <td>@task.ImportantLevel</td>
                    <td>@task.TimeRequired</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private TaskClient taskClient = new();
    private TaskSummary[]? taskSummary;
    protected override void OnInitialized()
    {
        taskSummary = taskClient.GetTaskSummaries();
    }
}